.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: flex-end;
}

.left-nav > ul > li {
  margin: 7px;
  text-transform: uppercase;
}

.right-nav > ul > li {
  margin: 1px;
  text-transform: uppercase;

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color:  $lightest-gray;
}

.left-nav span {

}


.right-nav i {

}